*
{
    margin: 0;
    padding: 0;
}





main {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    margin: 30px auto;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 120px;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
}

button {
    background: #3c5542;
    border: none;
    height: 32px;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
}

p {
    margin: 20px 0 0 0;
    line-height: 30px;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
    color: #3c5542;
}